<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
  <title>Two-way data binding</title>
</head>

<body>
  <div id="vue-app">
    <h1>Two-way data binding</h1>
    <label>Name:</label>
    <input type="text" v-model="name">
    <p>{{ name }}</p>
    <label>Age:</label>
    <input type="text" v-model="age">
    <p>{{ age }}</p>
  </div>
  <script src="app.js"></script>
</body>

</html>